.btn-1{
	@include border-radius(10px);
	@include transition(background-color 200ms linear); 

	cursor: pointer;
	background-color: $bt-yellow-1;

	&:hover{
		background-color: $bt-orange-1;
		a{
			color : $white;
		}
	}
}

.btn-2{
	@include transition(background-color 200ms linear); 

	background-color: color-opacity($black, 0.5);
	cursor: pointer;
	color : $white;
	background-color: color-opacity($black, 0.5);
	text-align: center;

	&:hover{
		background-color: color-opacity($black, 0.9);
		a{
			color : $white;
		}
	}
}