/* line 1, ../scss/_mixins.scss */
.btn-1, .app-container .lt-menu li, .app-container .searchContainer input[type="submit"] {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  cursor: pointer;
  background-color: #FDD907;
}
/* line 8, ../scss/_mixins.scss */
.btn-1:hover, .app-container .lt-menu li:hover, .app-container .searchContainer input[type="submit"]:hover {
  background-color: #FDA207;
}
/* line 10, ../scss/_mixins.scss */
.btn-1:hover a, .app-container .lt-menu li:hover a, .app-container .searchContainer input[type="submit"]:hover a {
  color: #FFF;
}

/* line 16, ../scss/_mixins.scss */
.btn-2, .app-container .searchResults .lt-opts span, .app-container .libraryContainer .lt-opts span, .app-container .cardMovie .addMovie {
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 25, ../scss/_mixins.scss */
.btn-2:hover, .app-container .searchResults .lt-opts span:hover, .app-container .libraryContainer .lt-opts span:hover, .app-container .cardMovie .addMovie:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
/* line 27, ../scss/_mixins.scss */
.btn-2:hover a, .app-container .searchResults .lt-opts span:hover a, .app-container .libraryContainer .lt-opts span:hover a, .app-container .cardMovie .addMovie:hover a {
  color: #FFF;
}

/* line 5, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/_reset.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/_reset.scss */
*,
*:after,
*:before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'dustismoregular';
  src: url("..//fonts/dustismo-webfont.woff") format("woff"), url("..//fonts/dustismo-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dustismo_bold';
  src: url("..//fonts/dustismo_bold-webfont.woff") format("woff"), url("..//fonts/dustismo_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'app-icons';
  src: url("..//fonts/app-icons.ttf?2rxsmh") format("truetype"), url("..//fonts/app-icons.woff?2rxsmh") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/_icon-codes.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'app-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../scss/_icon-codes.scss */
.icon-home:before {
  content: "\e60e";
}

/* line 19, ../scss/_icon-codes.scss */
.icon-film:before {
  content: "\e600";
}

/* line 22, ../scss/_icon-codes.scss */
.icon-video-camera:before {
  content: "\e601";
}

/* line 25, ../scss/_icon-codes.scss */
.icon-books:before {
  content: "\e602";
}

/* line 28, ../scss/_icon-codes.scss */
.icon-file-text:before {
  content: "\e603";
}

/* line 31, ../scss/_icon-codes.scss */
.icon-search:before {
  content: "\e604";
}

/* line 34, ../scss/_icon-codes.scss */
.icon-bin2:before {
  content: "\e605";
}

/* line 37, ../scss/_icon-codes.scss */
.icon-clipboard:before {
  content: "\e606";
}

/* line 40, ../scss/_icon-codes.scss */
.icon-plus:before {
  content: "\e607";
}

/* line 43, ../scss/_icon-codes.scss */
.icon-minus:before {
  content: "\e608";
}

/* line 46, ../scss/_icon-codes.scss */
.icon-cross:before {
  content: "\e609";
}

/* line 49, ../scss/_icon-codes.scss */
.icon-checkmark:before {
  content: "\e60a";
}

/* line 52, ../scss/_icon-codes.scss */
.icon-checkbox-checked:before {
  content: "\e60b";
}

/* line 55, ../scss/_icon-codes.scss */
.icon-checkbox-unchecked:before {
  content: "\e60c";
}

/* line 58, ../scss/_icon-codes.scss */
.icon-wallet:before {
  content: "\e60d";
}

/* line 10, ../scss/main.scss */
body {
  background: url("../images/my-delicious-library-movie-collection.jpg") repeat center center;
  background-size: 45%;
}

/* line 14, ../scss/main.scss */
header {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF91AD36');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzk4MCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM5ODAiIHN0b3Atb3BhY2l0eT0iMC45NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 57, 128, 0.3)), color-stop(100%, rgba(0, 57, 128, 0.95)));
  background-image: -moz-linear-gradient(top, rgba(0, 57, 128, 0.3) 0%, rgba(0, 57, 128, 0.95) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 57, 128, 0.3) 0%, rgba(0, 57, 128, 0.95) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 57, 128, 0.3) 0%, rgba(0, 57, 128, 0.95) 100%);
  text-align: center;
  font-family: 'dustismo_bold';
  padding: 40px 0 20px;
  background-color: rgba(255, 255, 255, 0);
}
/* line 23, ../scss/main.scss */
header h1 {
  text-shadow: rgba(0, 0, 0, 0.4) 3px 3px 2px;
  color: #FFF;
  font-size: 60px;
}

/* line 31, ../scss/main.scss */
.main-menu {
  padding: 10px;
  background: #000;
  color: #FFF;
  font-family: 'dustismoregular';
}
/* line 36, ../scss/main.scss */
.main-menu a {
  color: #FFF;
  text-decoration: none;
}
/* line 40, ../scss/main.scss */
.main-menu li {
  display: inline-block;
  margin: 0 2%;
}

/* line 46, ../scss/main.scss */
.app-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 0;
  min-height: 100vh;
}
/* line 51, ../scss/main.scss */
.app-container .lt-menu {
  display: table;
  margin: 0 auto;
  font-family: 'dustismoregular';
  text-align: center;
}
/* line 57, ../scss/main.scss */
.app-container .lt-menu a {
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 25px;
}
/* line 64, ../scss/main.scss */
.app-container .lt-menu li {
  display: inline-block;
  padding: 40px 10px;
  width: 200px;
  vertical-align: middle;
  margin: 0 10px;
}
/* line 73, ../scss/main.scss */
.app-container .lt-menu [class*='icon-'] {
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
}
/* line 80, ../scss/main.scss */
.app-container .searchContainer {
  display: table;
  margin: 0 auto;
  max-width: 500px;
  font-family: 'dustismoregular';
  margin-bottom: 20px;
}
/* line 87, ../scss/main.scss */
.app-container .searchContainer input[type="text"] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background-color: #FFF;
  font-size: 25px;
  padding: 5px 10px;
  margin-right: 10px;
}
/* line 97, ../scss/main.scss */
.app-container .searchContainer input[type="submit"] {
  border: none;
  font-size: 25px;
  padding: 5px 10px;
}
/* line 107, ../scss/main.scss */
.app-container .searchResults {
  font-family: 'dustismoregular';
  font-size: 20px;
  text-align: center;
}
/* line 112, ../scss/main.scss */
.app-container .searchResults > div {
  display: inline-block;
  width: 30%;
  margin: 0 2% 2% 0;
  vertical-align: middle;
}
/* line 119, ../scss/main.scss */
.app-container .searchResults .itemMovie {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFF;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
}
/* line 127, ../scss/main.scss */
.app-container .searchResults .itemMovie h1,
.app-container .searchResults .itemMovie img {
  margin-bottom: 20px;
}
/* line 132, ../scss/main.scss */
.app-container .searchResults .itemMovie img {
  max-height: 300px;
  display: table;
  margin: 0 auto 20px;
}
/* line 138, ../scss/main.scss */
.app-container .searchResults .lt-opts {
  width: 100%;
}
/* line 141, ../scss/main.scss */
.app-container .searchResults .lt-opts li {
  display: inline-block;
  width: 48.5%;
}
/* line 145, ../scss/main.scss */
.app-container .searchResults .lt-opts span {
  display: block;
  padding: 5px 0;
  width: 100%;
}
/* line 156, ../scss/main.scss */
.app-container .libraryContainer {
  font-family: 'dustismoregular';
  font-size: 20px;
  text-align: center;
}
/* line 161, ../scss/main.scss */
.app-container .libraryContainer .itemMovie {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFF;
  display: inline-block;
  padding: 10px 5px;
  width: 30%;
  margin: 0 2% 2% 0;
  vertical-align: middle;
}
/* line 171, ../scss/main.scss */
.app-container .libraryContainer .itemMovie h1,
.app-container .libraryContainer .itemMovie img {
  margin-bottom: 20px;
}
/* line 176, ../scss/main.scss */
.app-container .libraryContainer .itemMovie img {
  max-height: 300px;
  display: table;
  margin: 0 auto 20px;
}
/* line 182, ../scss/main.scss */
.app-container .libraryContainer .itemMovie p {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 188, ../scss/main.scss */
.app-container .libraryContainer .lt-opts {
  width: 100%;
}
/* line 191, ../scss/main.scss */
.app-container .libraryContainer .lt-opts li {
  display: inline-block;
  width: 48.5%;
}
/* line 195, ../scss/main.scss */
.app-container .libraryContainer .lt-opts span {
  display: block;
  padding: 5px 0;
  width: 100%;
}
/* line 206, ../scss/main.scss */
.app-container .cardMovie {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  font-family: 'dustismoregular';
  font-size: 20px;
  background-color: #FFF;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}
/* line 22, ../../../../../.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.app-container .cardMovie:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 217, ../scss/main.scss */
.app-container .cardMovie .addMovie {
  padding: 0 10px;
}
/* line 222, ../scss/main.scss */
.app-container .cardMovie h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 227, ../scss/main.scss */
.app-container .cardMovie img {
  max-width: 70%;
  float: left;
  margin-right: 10px;
}
/* line 232, ../scss/main.scss */
.app-container .cardMovie p {
  font-size: 14px;
  margin-bottom: 20px;
}
